.app-container {
	text-align: center;
	padding: 20px;
  }
  
  .input-field {
	margin: 10px;
	padding: 10px;
	width: 80%;
	border-radius: 5px;
	border: 1px solid #ccc;
  }
  
  .button {
	margin: 10px;
	padding: 10px 20px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	font-weight: bold;
  }
  
  .green-button {
	background-color: #28a745; /* Verde */
	color: white;
  }
  
  .yellow-button {
	background-color: #ffc107; /* Amarillo */
	color: black;
  }
  
  .error-notice {
	color: red;
  }
  
  .todo-list {
	list-style: none;
	padding: 0;
  }
  
  .todo-item {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 10px 0;
  }
  
  .empty-list {
	color: #777;
  }
  